@import	../../styles/helpers

.form
	display:		flex
	flex-direction:		column
	height:		95vh
	background-color:		$n
	position:		relative
	width:		40vw
	left:		30vw
	padding:		2rem
	box-shadow:		0px	0px	6px	$shades4
	border-radius:		26px
	align-items:		center
	top:		3vh
	+m
		display:		flex
		flex-direction:		column
		gap:		1rem
		left:		0
		top:		0
		box-shadow:		none
		position:		relative
		width:		100vw
		height:		100vh

.title

	font-size:		1.75rem
	color:		$p1
	font-weight:		600
	text-align:		center
	+m
		font-size:		1.75rem
		color:		$p1
		font-weight:		600
		text-align:		center

.iconM
	position:		relative
	display:		flex
	bottom:		1vh
	color:		$n4
	z-index:		999
	left:		1vw
	+m
		display:		flex
		color:		$n4
		z-index:		999
		top:		-2vh
		left:		2vw

.iconP
	position:		relative
	display:		flex
	left:		1vw
	bottom:		1vh
	color:		$n4
	z-index:		999
	+m
		display:		flex
		color:		$n4
		z-index:		999
		top:		-2vh
		left:		2vw

.input

	border:		0.8px	solid	$n4
	border-radius:		16px
	color:		$n5
	height:		8vh
	bottom:		7vh
	width:		30vw
	display:		flex
	position:		relative
	+m
		border:		0.8px	solid	$n4
		border-radius:		16px
		color:		$n5
		height:		7vh
		width:		80vw

		&::placeholder
			opacity:		0.9
			color:		$n7

.submit
	width:		40%
	background-color:		$p1
	padding:		0.75rem
	border-radius:		10px
	color:		$n
	font-size:		1rem
	cursor:		pointer
	position:		relative
	transition:		background-color	0.3s	ease
	top:		10vh
	&:hover
		background-color:		$p1
		+m
			border:		none
			outline:		none
			width:		50%
			background-color:		$p1
			padding:		0.75rem
			border-radius:		10px
			color:		$n
			font-size:		1rem
			cursor:		pointer
			position:		relative
			top:		5vh
			transition:		background-color	0.3s	ease
			&:hover
				background-color:		$p1

.signin
	text-align:		center
	font-size:		0.875rem
	display:		flex
	justify-content:		center
	gap:		0.25rem
	bottom:		15vh
	position:		relative
	+m
		text-align:		center
		font-size:		0.875rem
		a
			color:		$p1
			&:hover
				text-decoration:		underline	$p1

				h1
					color:		$n5

.text
	color:		$n7
	position:		relative
	top:		40vh
	+m
		color:		$n7
		position:		relative
		top:		15vh

.registerLink
	color:		$p1
	text-decoration:		none
	position:		relative
	top:		40vh
	&:hover
		text-decoration:		underline	$p1
		+m
			top:		15vh

.input
	padding:		0.75rem	1rem	0.75rem	2.5rem

.socialBtn
	display:		flex
	justify-content:		center
	gap:		1rem
	+m
		display:		flex
		justify-content:		center
		gap:		1rem
		top:		10vh
		position:		relative

.google,	.apple
	width:		3rem
	height:		3rem
	display:		flex
	justify-content:		center
	align-items:		center
	border-radius:		50%
	top:		20vh
	position:		relative
	img
		width:		100%

		+m
			width:		3rem
			height:		3rem
			display:		flex
			justify-content:		center
			align-items:		center
			border-radius:		50%
			top:		-12vh

			img
				width:		100%

.separator
	height:		0.5px
	width:		16vw
	left:		22vw
	top:		60vh
	background-color:		#33383F
	position:		absolute
	+m
		height:		1px
		background-color:		$n5
		position:		relative
		left:		25%
		top:		1vh
		margin-inline:		196px
		margin-top:		-189px
		margin-inline:		72px
		opacity:		0.5
		width:		30vw

.separato
	height:		0.5px
	width:		16vw
	left:		2vw
	top:		60vh
	background-color:		#33383F
	position:		absolute
	+m
		height:		1px
		background-color:		$n5
		position:		relative
		left:		-10vh
		margin-inline:		80px
		margin-bottom:		25vh
		margin-top:		73px
		right:		25%
		opacity:		0.5
		top:		3.2vh
		width:		30vw
.h1
	color:		$n7
	top:		14vh
	position:		relative
	+m
		color:		$n7
		margin-inline:		145px
		top:		-2.5vh

.email
	position:		relative
	top:		10%

.senha
	position:		relative
	top:		10%
